<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <app-list (chooseHero)="onSelect($event)" [heroes]="heroes"></app-list>
    </div>
    <div class="col-1"></div>
    <div class="col-7">
      <app-details [hero]="heroSelected"></app-details>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-table [heroes]="heroes"></app-table>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 justify-content-evenly">
    <div class="col" *ngFor="let hero of heroes">
      <app-card (sendHero)="onSelect($event)" [hero]="hero"></app-card>
    </div>
  </div>
</div>
